default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: QnA_development
  username: roman
  password: fuckoff1234

test:
  <<: *default
  database: QnA_test
  username: roman
  password: fuckoff1234

production:
  <<: *default
  database: QnA_production
  username: QnA
  password: <%= ENV['QNA_DATABASE_PASSWORD'] %>
