/* Universal */

body {
  padding-top: 50px;
}

h1 {
  text-align: center;
  font-size: 1.8em!important;
}

.page-header {
  text-align: left;
  font-size: 1.5em;
  margin: 20px 0px 10px!important;
}

div.alert {
  margin: 10px 0px 10px;
  text-align: center;
}

/* logo */
#logo {
  padding-top: 5px;
  a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
  }
}

/* footer */
footer {
  margin-bottom: 50px;
  text-align: right;
  float: left;
  width: 100%;
  hr {
    margin-bottom: 10px;
  }
}

/* forms */
input {
  margin-bottom: 10px;
  width:100%;
}

input[type="checkbox"] {
  width: auto;
}

.checkbox-inline {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}

/* questions index */
.questions-list {
  margin-top: -10px;
  float: left;
  .question {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgb(238,238,238);
    padding-bottom: 10px;
  }
  .question:last-child {
    border-bottom: none;
  }
}

.question-block {
  width: 75%;
  float: left;
  h3 {
    font-size: 1.2em;
    margin: 12px 0px 0px;
  }
  span {
    word-wrap: break-word;
    font-size: 0.95em;
  }
}

.user-info-block {
  font-size: 0.95em;
  float: right;
  width: 20%;
  text-align: right;
  margin-top: 12px;
}

/* question page */
.question-body {
  word-wrap: break-word;
}

.show-question-block span {
  font-size: 0.95em;
}

.question-divider {
  margin: 10px 0 10px;
}

.answers-count {
  margin-top: 20px;
}

.answers-block {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 20px;
  li {
    margin-bottom: 15px;
    .answer-body {
      margin-bottom: 0px;
    }
  }
}
